* {margin:0;padding:0}
.fleft {float:left}
.fright {float:right}
.fclear {clear:both}
.inner_copy, .inner_copy a {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
body {background:#fff;font:normal small "Trebuchet MS", Arial, Helvetica, sans-serif;color:#666}
#main3 {width:940px;margin:0 auto;overflow:hidden}
h1, h2, h3 {color:#586BAA}
h2 {}
h3 {}
p, blockquote, ul, ol {}
p {}
blockquote {margin-left:3em}
ul {margin-left:3em}
ul li {}
ol {margin-left:3em}
ol li {}
a {color:#586BAA}
a:hover {text-decoration:none}
img {}
/* Boxed Style */
.boxed {margin-bottom:20px}
.boxed .title {height:31px;padding:9px 0 0 20px;background:#6FBE6E url(images/img05.gif) repeat-x;font-size:1.2em;color:#fff}
.boxed .content {padding:20px 20px 40px 20px;background:url(images/img06.gif) repeat-x}
/* Post */
.post {}
.post .title {padding:5px 0 0 20px;font-size:2em;font-weight:normal}
.post .date {}
.post .date .month {}
.post .date .day {}
.post .date .year {}
.post .meta {}
.post .meta p {}
.post .story {padding:20px 20px 10px 20px;background:url(images/img06.gif) repeat-x}
.post h3 {}
.post .story p, .post .story blockquote, .post .story ul, .post .story ol {margin-bottom:1.5em;line-height:180%}
/* Header */
#header {width:740px;height:150px;margin:0 auto}
/* Menu */
ul#saturday {margin:0;padding:0;list-style-type:none;width:auto;position:relative;display:block;height:36px;text-transform:uppercase;font-size:12px;font-weight:bold;background:transparent url("images/bgOFF.gif") repeat-x top left;font-family:Helvetica,Arial,Verdana,sans-serif;border-bottom:4px solid #336666;border-top:1px solid #C0E2D4}
ul#saturday li {display:block;float:left;margin:0;pading:0}
ul#saturday li a {display:block;float:left;color:#874B46;text-decoration:none;padding:12px 20px 0 20px;height:24px;background:transparent url("images/bgDIVIDER.gif") no-repeat top right}
ul#saturday li a:hover {background:transparent url("images/bgHOVER.gif") no-repeat top right}
ul#saturday li a.current,ul#saturday li a.current:hover {color:#fff;background:transparent url("images/bgON.gif") no-repeat top right}
/* Logo */
#logo {width:740px;height:60px;margin:0 auto}
#logo h1 {float:left;letter-spacing:-2px;font-size:36px;font-weight:normal}
#logo h1 a {}
#logo h2 {float:left;font-size:14px;font-weight:normal}
#logo h2 a {}
#logo a {text-decoration:none;text-transform:uppercase;font-style:italic;color:#479AC6}
/**/
/* Content */


#content {width:100%}
#extra {}
/* Content > Main */

#main {float:left;width:65%}
#main a {}
/* Content > Main > Welcome */

#welcome {}
/* Content > Main > Example */

#example {}
/* Content > Sidebar */

#sidebar {float:right;width:25%}
#sidebar a {}
/* Content > Sidebar > Login */

#login {}
#login form {}
#login fieldset {border:none}
#login legend {display:none}
#login label {font-size:x-small;font-weight:bold}
#login input {margin-bottom:5px}
#inputtext1, #inputtext2 {width:170px;padding:2px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;color:#666}
#inputsubmit1 {}
/* Content > Sidebar > Updates*/
#updates {}
#updates ul {margin:0;list-style:none}
#updates h3 {margin:0;font:bold x-small Verdana, Arial, Helvetica, sans-serif}
#updates p {margin-bottom:1.4em;font-size:smaller;line-height:normal}
/* Content > Sidebar > Partners*/
#partners {}
#partners .content {padding:10px 0}
#partners ul {margin:0;border-bottom:1px solid #D1BC5C;list-style:none;line-height:normal}
#partners li {padding:10px;border-top:1px solid #D1BC5C}
/* Footer */
#footer {clear:both;width:95%;margin:0 auto;padding:5px 0}
#footer p {margin:0;text-align:center;font-size:x-small}
/* Footer > Legal */
#legal {}
/* Footer > Links */
#links {}
.quickLinks {display:block;float:left;margin-top:0;padding-left:10px;padding-right:10px}
.quickLinkLft {float:left}
.quickLinkLftCnr {float:left;width:5px}
.quickLinkRgtCnr {float:left;width:5px}
.quickLinkCntr {float:left;background:url('images/quickLKcntr.gif') repeat-x;height:25px;width:860px;font-weight:bold;font-family:arial, halvetica, sans-serif;color:#FFF}
.quickLinkCntr label {color:#DDD;float:left;width:200px;padding-left:10px;margin-top:.4em}
.quickLinkCntr a, quickLinkCntr a:visited {display:block;color:#FFF;cursor:pointer;font-size:.95em;margin-top:.4em;margin-right:2em;text-decoration:none}
.quickLinkCntr a:hover, quickLinkCntr a:active {color:#D84704;text-decoration:none}
.quickLinkBox {float:left;position:relative}
.quickLinkBoxWrap {position:absolute;z-index:100;width:120px;visibility:hidden;left:0;top:expression('-40px');top:-41px;background:url("images/clear.gif")}
*html .quickLinkBoxWrap {top:-50px}
@media screen and (-webkit-min-device-pixel-ratio:0) {.quickLinkBoxWrap {top:-39px}}
/*fix positioning in Safari and Opera*/
.quickLinkBoxBdy {background-color:#DADAD9;padding-top:.1em}
.quickLinkBoxLnkOn, .quickLinkBoxLnkOff {padding-left:5px;padding-bottom:5px}
 .quickLinkBoxWrap ul {text-decoration:none;list-style:none;padding:0 0 .3em .5em}
 *html .quickLinkBoxWrap ul {padding:0 0 0 .5em}
 .quickLinkBoxWrap li a {list-style:none;text-decoration:none;color:#222;font-size:11px;margin-right:0;margin-top:0;font-weight:normal}
 .quickLinkBoxWrap li a:hover {list-style:none;text-decoration:none;color:#D84704}
/* flyout top curve */
.quickLinkBoxBrdrTop {display:block}
 .quickLinkBoxBrdr1, .quickLinkBoxBrdr2, .quickLinkBoxBrdr3, .quickLinkBoxBrdr4 {display:block;overflow:hidden;background:#DADAD9}
.quickLinkBoxBrdr1, .quickLinkBoxBrdr2, .quickLinkBoxBrdr3 {height:1px}
.quickLinkBoxBrdr2, .quickLinkBoxBrdr3, .quickLinkBoxBrdr4 {border:1px solid #DADAD9;border-width:0 1px}
.quickLinkBoxBrdr1 {margin:0 5px;background:#DADAD9}
.quickLinkBoxBrdr2 {margin:0 3px;border-width:0 2px}
.quickLinkBoxBrdr3 {margin:0 2px}
.quickLinkBoxBrdr4 {height:2px;margin:0 1px}